<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


    <title>Login</title>
  </head>

  <body>
    <div class="main-container">

      <header>
        <div class="top-nav">
          <ul>
            <li><a href="login.html">Log In</a></li> |
            <li><a href="signup.html">Sign Up</a></li>

          </ul>

        </div>
        <nav>
         <div class="logo"><a href="index.html">PITCH IT</a></div>
          <div class="access">
            <ul class="main-nav">
              <li class="navigate"><a href="">PITCHES</a></li>
              <li class="navigate"><a href="bookmarked.html">BOOKMARKS</a></li>
              <li class="navigate"><a href="user_profile.html">PROFILE</a></li>
              <li><button class="cta-btn"><i class="fa-solid fa-circle-plus"></i> NEW PITCH</button></li>

            </ul>

          </div>

        </nav>
      </header>

      <br><br><br>

      <div class="main-content">

        <div class="pitches">

          <div class="pitch-rear">
            <div class="engagement">
              <ul>
                <li><button class="vote"><i class="fa-solid fa-circle-up fa-2x"></i></button></li>
                <li><span class="vote-tally">1645</span></li>
                <li><button class="vote"><i class="fa-solid fa-circle-down fa-2x"></i></button></li>

              </ul>

            </div>

            <div class="user-action">
              <button><i class="fa-solid fa-comment fa-2x"></i> Comment </button>
              <button><i class="fa-solid fa-share-nodes fa-2x"></i> Share</button>

            </div> <!--.user-action-->
          </div><!--.pitch-rear-->

          <div class="pitch-fore">
            <h3>Do you like Star Wars? Because Yoda only one for me!</h3>
            <span class="pitch-data"><i class="fa-solid fa-clock"></i> 19hrs</span><span class="pitch-data"><i class="fa-solid fa-user"></i> Jake</span><span class="pitch-data"><i class="fa-solid fa-hashtag"></i> pickup lines</span>

          </div>

          <button class="bookmark-btn"><i class="fa-solid fa-bookmark fa-2x"></i></button>

        </div> <!-- .pitches -->

        <h2 class="blue-text">New Comment</h2>

        <h4>Submit a Comment</h4>

        <textarea cols="80" rows="7" id="new-pitch-input" name="new-pitch"> type comment here ... </textarea>

        <br><br>

        <button class="cta-btn" type="submit"><i class="fa-solid fa-comment"></i> Submit Comment</button>

        <br><br><br>

        <div class="user-comments">

          <div class="user-comment">
            <div><i class="fa-solid fa-comments"></i> <em>That one made me crack up</em></div>
            <div><i class="fa-solid fa-clock"></i> <span class="comment-timestamp">19hrs</span></div>
            <div><i class="fa-solid fa-user"></i> <span class="commentor">Jake</span></div>
          </div>

        </div>


      </div><!-- main-content -->



    </div> <!-- .main-container -->

    <footer>
      <div class="p">Phone number</div>
    </footer>

    <script src="https://kit.fontawesome.com/d3d56d9400.js" crossorigin="anonymous"></script>

  </body>

</html>