<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Signup</title>

  </head>

  <body>
    <div class="main-container">
      <header>
        <nav>
          <div class="logo">PITCH IT  </div>
          <div class="access">

            <ul>
              <li><a href="">Log in</a></li>
<!--              <li><a href="">Sign Up</a></li>-->

            </ul>

          </div>

        </nav>

      </header>

      <div class="access-form">
        <div class="main-form-label"><div class="blue-text">Sign Up</div></div>
        <div class="form-content">        
          <form action="">
            <input class="login-info" type="text" placeholder="                                                     Choose username"><br><br>
            <input class="login-info" type="text" placeholder="                                                     Enter email"><br><br>
            <input class="login-info" type="password" name="email" id="email" placeholder="                                                    Type password"><br><br>
            <input class="login-info" type="password" name="email" id="email" placeholder="                                                     Confirm password"><br><br>
          
          </form>
        
          <button class="form-btn"><i class="fa-solid fa-user-plus"></i> Sign up</button>

          <p><a class="form-extra" href="">Forgot  password?</a> <a class="form-extra" href="">Already have an account? <strong>LOGIN</strong></a></p>

        </div><!-- .form-content-->

      </div>

      <br>

    </div> <!-- .main-container -->

    <footer>
      <div class="p">Phone number</div>

    </footer>
    
    <script src="https://kit.fontawesome.com/d3d56d9400.js" crossorigin="anonymous"></script>

  </body>
</html>